@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
/* font-family: Lato, sans-serif; */
*,
*::after,
*::before {
  margin: 0px !important;
  padding: 0px !important;
  box-sizing: border-box;
}
html,
body {
  margin: 0px !important;
  padding: 0px !important;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: url(img/bg\ .png);
  background-repeat: repeat-y;
  background-size: 100% 100%;
}
.hero-img {
  background-image: url(img/den-1.JPG);
  height: 60vh;
  width: 50vh;
  background-size: 100% 100%;
}
/*Nav*/
#header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
  position: relative;
  text-align: center;
}

h1 {
  font-size: 40px;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  letter-spacing: 5px;
}

.tabs-container {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 70px;
  background-color: rgba(243, 243, 236, 0.562);
  box-shadow: 0 0 20px rgba(111, 111, 111, 0.2);
}
.sticky {
  position: fixed;
  top: 0;
  z-index: 10000;
}

.tabs-container a {
  text-decoration: none;
  color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 1.5rem;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

.tabs-container a:hover {
  background-color: #161612;
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Head*/
#heading {
  background-image: url(img/den-2.jpg);
  height: 100%;
  width: 100%;
  background-size: 100% 100% !important;
}
#heading-1 {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 10rem !important;
  text-transform: uppercase;
  color: #837d7d;
  letter-spacing: 1.5px;
  margin-bottom: 0px;
}
#heading-1:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(1, 5, 24, 0.562);
  width: 0;
  overflow: hidden;
  transition: 1s;
}

#heading-1:hover:before {
  width: 100%;
}

#heading-2 {
  margin: 0 !important;
  padding: 0 !important;
  position: absolute !important;
  left: 50% !important;
  top: 65% !important;
  transform: translate(-50%, -50%) !important;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 6rem !important;
  text-transform: uppercase;
  color: #837d7d;
}

#heading-2:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(1, 5, 24, 0.562);
  width: 0;
  overflow: hidden;
  transition: 0.9s;
  letter-spacing: 3rem !important;
}
#heading-2:hover:before {
  width: 100% !important;
  letter-spacing: 0rem !important;
}
#main {
  height: 100vh;
}
#aboutMe {
  font-size: 35px !important;
  height: 500px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/*Skills*/
.container {
  position: relative;
  /* width: 900px; */
  display: flex;
  justify-content: space-evenly;
}
.container .card {
  position: relative;
  width: 250px;
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b4b);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  border-radius: 5rem !important;
}
.container .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.346);
}
.container .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}
.percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  background: #222;
  z-index: 1000;
}
.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.percent .number h2 {
  color: #777;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}
.card:hover .percent .number h2 {
  color: #fff;
  font-size: 60px;
}
.percent .number h2 span {
  font-size: 24px;
  color: #777;
  transition: 0.5s;
}
.card:hover .percent .number h2 span {
  color: #fff;
}
.text {
  position: relative;
  color: #777;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
}
.card:hover .text {
  color: #fff;
}
svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}
svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10px;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}
svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}
.card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: rgba(233, 59, 6, 0.66);
}
.card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: rgba(31, 195, 245, 0.66);
}
.card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 40) / 100);
  stroke: rgba(231, 218, 31, 0.66);
}
.card:nth-child(4) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 45) / 100);
  stroke: rgba(17, 37, 153, 0.66);
}

/*Project*/
.sections {
  width: 100%;
  height: 35vh;
  position: relative;
  display: flex;
  justify-content: space-around;
}
.sections .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}
h5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
}

#game {
  width: 90%;
  height: 60%;
  border: 1px solid #000;
  background: #191919;
  margin: 100px auto;
  position: relative;
  overflow: hidden;
  background: url(img/game-bg.PNG);
}
#cat {
  position: absolute;
  width: 80px;
  height: 53px;
  background: url(img/cat.gif);
  bottom: 0;
  z-index: 1000;
  background-repeat: no-repeat;
}
.cat-animate {
  animation: cat 0.5s linear;
}
#cuc {
  position: absolute;
  width: 60px;
  height: 60px;
  background: url(img/cucumber-1.gif);
  bottom: 0;
  left: 96%;
  background-repeat: no-repeat;
}
.cuc-animate {
  animation: cuc 2.5s linear infinite;
}
@keyframes cuc {
  0% {
    left: 95%;
  }
  100% {
    left: -60px;
  }
}
@keyframes cat {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: 65px;
    /* animation-play-state: paused; */
    /* animation-delay: 10s; */
  }
  75% {
    bottom: 65px;
    /* animation-play-state: paused; */
    /* animation-delay: 10s; */
  }
  100% {
    bottom: 0px;
  }
}

/*Contact*/
